{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_home.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <title>TRASH-IT</title>
</head>

<body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' with home_stats='active' %}

    
    <!-- Page Content Start -->
    <div class="container">
      <h1 class="welcome">WELCOME!</h1>
    </div>
    <div clas="box">
        <div class="contentA">
                <h1 class="apaitu">APA ITU</h1>
                <h1 class="trashit">TRASH-IT <span><a style="color: black;">?</a></span></h1>
                <p class="desc-apa">
                    Trash-IT adalah aplikasi yang akan membantu anda <br>
                    dalam pembuangan sampah. Trash-It memberikan layanan <br>
                    penjemputan sampah dengan bayaran sesuai dengan jenis <br>
                    sampah dan berat sampah yang anda berikan ke kami. <br>
                </p>
                <img class="logo-a" src="/static/img/Logo 3.png" alt="">
        </div>
        <div class="contentB">
            <h1 class="mengapa">MENGAPA</h1>
            <h1 class="trashit">TRASH-IT <span><a style="color: black;">?</a></span></h1>
            <div class="container-desc">
                <p class="desc-mengapa">
                • Praktis & Mudah <br>
                • Efisiensi waktu <br>
                • Ramah Lingkungan <br>
                </p>
                <img class="logo-b" src="/static/img/Logo 2.png" alt="">
            </div>
        </div>
        <div class="tutorial text-center">
            <p class="desc-button">Pelajari Cara Memakai App Ini</p>
            <a href={% url 'tutorial' %}>
                <button type="button" class="btn btn-primary btn-lg">TUTORIAL</button>
            </a>
            <p class="desc-button">Siap Membersihkan Bumi?</p>
            <a href={% url 'buangsampah:buangsampah' %}>
                <button type="button" class="btn btn-primary btn-lg">SIAP!</button>
        
            </a>
        </div>
        <div>
            <h1 class="contact">CONTACT US</h1>
            <h3 class="info">
                example@trash-it.com <br>
                021-72991 <br> <br>
            </h3>
        </div>
    </div>
    <!-- Page Content End -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>