{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <title>TRASH-IT</title>
</head>

<body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' with profile_stats='active' %}

    
    <!-- Page Content Start -->
    <form action="post">
        <div class="banner">
            <div class="text-center">
                <h2>
                    <input type="text" name="name" maxlength="2147483647" required id="id_name" value={{ selaccount.name }}>
                </h2>
                <!-- <h2>{{ selaccount.name }}</h2> -->
            </div>
        </div>
    
        <h3>
            <div class="row profile-info">
                <div class="col-1 col-lg-2"></div>
                <div class="col-10 col-lg-8 row">
                    <div class="col-5 col-lg-4 label">
                        Pekerjaan
                    </div>
                    <div class="col-7 col-lg-8 data">
                        {{ selaccount.job }}
                    </div>
                    <div class="col-5 col-lg-4 label">
                        Tempat Tinggal
                    </div>
                    <div class="col-7 col-lg-8 data">
                        {{ selaccount.address }}
                    </div>
                    <div class="col-5 col-lg-4 label">
                        Dompetku
                    </div>
                    <div class="col-7 col-lg-8 data">
                        <h1>{{ balance }}</h1>
                    </div>
    
                    <div class="col-12" id="card-container">
                        <a href={{ link_riwayat }}><card id="left">Riwayat</card></a>
                        <a href={{ link_status }}><card id="right">Status Sampah</card></a>
                    </div>
                </div>
                <div class="col-1 col-lg-2">
                    <img src="https://image.flaticon.com/icons/svg/1159/1159633.svg" style="height: 30px;">
                </div>
            </div>
        </h3>
    </form>
    <!-- Page Content End -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>