h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: #76B39D;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.header h1 {
    font-weight: bold;
    font-size: 72px;
    color: white;
}

.faq-block h2 {
    font-weight: bold;
    color: #155E63;
}

.faq-block p {
    font-size: 18px;
}

.faq-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cr {
    background-color: #76B39D;
    width: 100%;
    height: 10vh;
    padding: 30px;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 48px;
        color: white;
    }

    .faq-block h2 {
        font-size: 28px;
    }
}