{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with faq_stats='active' %}
{% endblock %}

{% block includedcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_faq.css' %}">
{% endblock %}
    
{% block content %}
<div class="header">
    <div class="container">
        <h1>FAQs</h1>
    </div>
</div>

<div class="container faq-block">
    <div class="faq-content">
        <h2>Kemana uang bayaran saya masuk?</h2>
        <p>
            Bayaran akan dikirim ke <strong style="color: #155E63;">Dompetku</strong> anda sesuai dengan
            tarif yang telah ditentukan oleh mitra kami berdasarkan jenis sampah
            dan berat sampah yang anda berikan
        </p>
    </div>

    <div class="faq-content">
        <h2>Bagaimana cara saya mendaftar sebagai mitra?</h2>
        <p>
            Jika anda adalah pemilik bank sampah, anda dapat mendaftarkan usaha anda
            dengan mengirim email ke <strong style="color: #155E63;">example@trash-it.com</strong> atau menghubung kami
            ke <strong style="color:#155E63">021 - 72911</strong>
        </p>
    </div>

    <div class="faq-content">
        <h2>
            Bagaimana jika sampah yang ingin saya buang
            tidak terdaftar di pilihan kategori sampah?
        </h2>
        <p>
            Anda dapat memilih pilihan lain-lain di list kategori sampah. Mitra kami akan
            menentukan harga yang tepat bagi jenis sampah yang ingin anda buang
        </p>
    </div>

    <div class="faq-content">
        <h2>Bagaimana cara menggunakan aplikasi ini?</h2>
        <p>
            Silahkan kunjungi <span><a href="/tutorial" style="color:#76B39D">Tutorial</a></span>
        </p>
    </div>
</div>
{% endblock %}
    