{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'new_navbar.html' with home_stats='active' %}
{% endblock %}
    
{% block includedcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}">
{% endblock %}
    
{% block content %}
<div class="container">
  <h1 class="welcome">WELCOME!</h1>
</div>
<div clas="box">
    <div class="contentA">
            <h1 class="apaitu">APA ITU</h1>
            <h1 class="trashit">TRASH-IT <span><a style="color: black;">?</a></span></h1>
            <p class="desc-apa">
                Trash-IT adalah aplikasi yang akan membantu anda <br>
                dalam pembuangan sampah. Trash-It memberikan layanan <br>
                penjemputan sampah dengan bayaran sesuai dengan jenis <br>
                sampah dan berat sampah yang anda berikan ke kami. <br>
            </p>
            <img class="logo-a" src="{% static 'img/Logo 3.png' %}" alt="">
    </div>
    <div class="contentB">
        <h1 class="mengapa">MENGAPA</h1>
        <h1 class="trashit">TRASH-IT <span><a style="color: black;">?</a></span></h1>
        <div class="container-desc">
            <p class="desc-mengapa">
            • Praktis & Mudah <br>
            • Efisiensi waktu <br>
            • Ramah Lingkungan <br>
            </p>
            <img class="logo-b" src="{% static 'img/Logo 2.png' %}" alt="">
        </div>
    </div>
    <div class="tutorial text-center">
        <p class="desc-button">Pelajari Cara Memakai App Ini</p>
        <a href="{% url 'tutorial' %}">
            <button type="button" class="btn btn-primary btn-lg">TUTORIAL</button>
        </a>
        <p class="desc-button">Siap Membersihkan Bumi?</p>
        <a href="{% url 'buangsampah:buangsampah' %}">
            <button type="button" class="btn btn-primary btn-lg">SIAP!</button>
    
        </a>
    </div>
    <div>
        <h1 class="contact">CONTACT US</h1>
        <h3 class="info">
            example@trash-it.com <br>
            021-72991 <br> <br>
        </h3>
    </div>
</div>
{% endblock %}
    