{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_tutorial.css' %}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <title>TRASH-IT</title>
</head>

<body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' with tutorial_stats='active' %}

    
    <!-- Page Content Start -->
    <div class="header">
        <div class="container">
            <h1>TUTORIAL</h1>
        </div>
    </div>

    <div class="container faq-block"> 
        <div class="faq-content">
            <h2>1. DAFTARKAN DIRIMU DI WEBSITE KAMI</h2>
            <p>
                Dengan bergabung bersama kami, kamu bisa ikut andil dalam 
                mewujudkan dunia yang lebih baik dari sebelumnya.
            </p>
        </div>

        <div class="faq-content">
            <h2>2. DAFTARKAN SAMPAHMU</h2>
            <p>
                Pengguna dapat mendaftarkan berat dan jenis 
                sampahnya, lalu menunggu konfirmasi penjemputan oleh mitra kami.
                <br>
                Pendaftaran dapat melalui halaman
                <span><a href="#" style="color: #76B39D;">Buang Sampah</a></span>
            </p>
        </div>

        <div class="faq-content">
            <h2>3. PENJEMPUTAN GRATIS</h2>
            <p>
                Mitra kami akan datang untuk mengambil 
                sampah sesuai konfirmasi tempat dan tanggal penjemputan.
            </p>
        </div>

        <div class="faq-content">
            <h2>4. DAPATKAN UANG</h2>
            <p>
                Pengguna akan mendapatkan uang dari sampah yang mereka buang dan akan tersimpan di
                <b style="color: #155E63;">Dompetku</b>.
            </p>
        </div>
    </div>
    <!-- Page Content End -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>